.activity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: greenyellow;
    padding: 30px;
    height: auto;
    width: 100%;
    min-width: 200px;
    max-width: 650px;
    border-radius: 20px 0px 10px 0px;
}

.activity_talker {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 80%;

    & img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        object-fit: cover;
    }

    & h4 {
        color: #0f0f0f !important;
        font-size: 1.2rem !important;
        width: auto;
        max-width: 300px;
    }
}

.activity_talk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    width: 100%;

    & h3 {
        font-size: 1.4rem;
        word-break: break-word;
    }


    & h6 {
        font-size: 0.8rem;
        font-weight: 400;
    }
}