.ActivitiesCarroussel_Slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: greenyellow;
    padding: 30px 20px;
    height: auto;
    width: 50vw;
    min-width: 200px;
    max-width: 350px;
}

.ActivitiesCarroussel_Slide.tutorial {
    background-color: #0f0f0f;
}

.ActivitiesCarroussel_Slide_talker {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    
    & img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        object-fit: cover;
    }

    & h4 {
        color: #0f0f0f !important;
        font-size: 1.2rem !important;
        width: 40vw;
        max-width: 200px;
        min-width: 120px;
    }
}

.ActivitiesCarroussel_Slide_talker.tutorial {
    & h4 {
        color: aliceblue !important;
    }
}

.ActivitiesCarroussel_Slide_talk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    width: 100%;
    max-width: 300px;

    & h3 {
        font-size: 1.4rem;
        word-break: break-word;
    }


    & h6 {
        font-size: 0.8rem;
        font-weight: 400;
    }
}

.ActivitiesCarroussel_Slide_talk.tutorial {
    & h3, h6 {
        color: aliceblue !important;
    }
}